
<html>
  <head>
   
  </head>
  <body style="  background-color:#ccffff">
    <h1>Agenda 1.0</h1>
    <p>Aplicação para cadastro de contatos</p>
    <p><br>
    </p>
    <li><%= link_to "Contatos", contacts_path %>
    <li><%= link_to "Endereços", contacts_path %>
    <li><%= link_to "Tipos", kinds_path %>
    <li><%= link_to "Telefones", phones_path %>
  </body>
</html>
